* {
    font-family: Roboto;
    margin: 0;
}


body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

.topBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #0D1B2A;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;

}

.topBarUl, a {
    text-decoration: none;
    color: #E5E7EB;
}

.topBarImg {
    width: 72px;
    height: auto;
}


.topBarUl {
    display: flex;
    gap: 44px;
    font-size: 18px;
    padding-right: 28px;
    list-style: none;
    margin: 0;
}



.infoHeader {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1B263B;
    flex-wrap: wrap;
    padding-top: 75px;
    padding-left: 100px;
}

.headerImg {
    width: 280px;
    height: auto;
    padding: 20px;
    padding-right: 100px;
    padding-left: 750px;
}

.headerText {
    font-size: 48px;
}



.features{
    display: flex;
    justify-content: space-around;
    padding: 20px;
    background-color: #415A77;
    flex-wrap: wrap;
    padding-top: 50px;
    padding-bottom: 75px;
  }

  .feature-box {
    flex: 1;
    text-align: center;
    padding: 20px;
    border-radius: 8px;
    margin: 10px;
    background-color: teal;
    transition: all 0.5s ease;
    box-shadow: 0px 0px 10px rgba(0,0, 0, 0.1);

  }
  
  .feature-box:nth-child(odd) {
    margin-top: 50px;
  }
  
  .feature-box:nth-child(even) {
    margin-bottom: 50px;
  }


  .pricing-container {
    display: flex;
    justify-content: space-around;
    padding: 20px;
    background-color: #778DA9;
  }

  .pricing-box {
    flex: 1;
    text-align: center;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    margin: 10px;
    background-color: #E0E1DD;
    box-shadow: 0px 0px 10px rgba(0,0, 0, 0.1);

  }

  